*{
    margin: 0;
    padding: 0%;
    font-family: sans-serif;
}
body{
    background-color: black;
}

.b0{
    position: absolute;
    top: 0%;
    left: 0%;
    width:100%;
    height: 100vh;
    z-index: -5;
    filter: blur(5px);
}
.b1{position: absolute;
    top: 0%;
    left: 0%;
    width:100%;
    height: 100vh;
    z-index: -4;
    filter: blur(4px);
}
 
.b2{position: absolute;
    top: 0%;
    left: 0%;
    width:100%;
    height: 100vh;
    z-index: -3;
    filter: blur(3px);
}
.b3{position: absolute;
    top: 0%;
    left: 0%;
    width:100%;
    height: 100vh;
    z-index: -2;
    filter: blur(2px);
}
.b4{position: absolute;
    top: 0%;
    left: 0%;
    width:100%;
    height: 100vh;
    z-index: -1;
    filter: blur(1px);
}
.b5{position: absolute;
    top: 0%;
    left: 0%;
    width:100%;
    height: 100vh;
    z-index: 0;
    filter: blur(0px);
    filter: brightness(1.1) contrast(2);
}
.header{
    position: absolute;
    top: 0%;
    left: 0%;
    width:100%;
    height: 100vh;
    overflow: hidden;
}
.header-container{
    position: fixed; 
    top: 25vh;
    left: 50%;
    transform: translateX(-50%);
    color: bisque;
    z-index: -1;
    text-align: center;
    width:max-content;
   
    
}
.primary-head{
    
    font-size: 6vw;
    text-decoration:overline;
    text-transform: uppercase;
}
.secondary-head{
    font-size: 2vw;
    text-transform: uppercase;
}
.skill{
    
    width: 100%;
    background-color:black;
    padding-bottom: 7vh;
   
}
.skill-head{
    position: relative;
    max-width: max-content;
    font-weight: 900;
    left: 50%;
    transform: translateX(-50%);
    color: beige;
    padding-top: 5vh;
    font-size: 4vw;
}
.skill-body{
    position: relative;
    width: 46.15vw;
    color: beige;
    
    font-size: 2vw;
    cursor: pointer;
}
.skill-body:hover{
    color:rgb(138, 43, 226); 
    span{ color:beige;}
}
.me{
    height: auto;
    width: 20vw;
    
    
    border-radius: 100vw;
    background-color: rgb(140,73,104,0.8);
    border-color: rgb(140,73,104);
    box-shadow: 4px 4px 50px rgb(140,73,104);
    z-index: 2;
}
.name{
    font-size:3.5vw ;
    color: rgb(138, 43, 226);
    transition: 0.3s ease;
    cursor: pointer;
}
.name:hover{
    transform: scale(1.1);
    color: bisque;
}
.autogen::before{
    content: "HTML";
    color:rgb(138, 43, 226);
    font-weight: 900;
    animation: words 10s infinite;
}


.autogen::after{
    content: "";
    animation: cursor 0.8s infinite, typing 20s steps(14) infinite  ;
   
    width: calc(100%+8px);
}
@keyframes cursor {
    to{ border-left :2px solid #fff }
}
@keyframes words {
    0%,33%{content:"HTML";}
    34%,66%{content: "CSS";}
    67%,100%{content: "JAVASCRIPT";}

}
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}
.skill-bar{
    font-size: 2.8vw;
    color: beige;
    text-align: center;
}
.projects{
    display: block;
    padding-top: 10vh;
    
    width: 100%;
    color: #fff;
    background-color: black;
    /* background-image: url(back3.png); */
    background-size: cover;

}
.p-head{
    text-align: center;
    font-size: 4vw;
    font-weight: 900;
}

.flash{
    position: relative;
    width:fit-content ;
    height: fit-content;
    padding: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    border-color:rgb(138, 43, 226) ;
    border-style: solid;
    background:linear-gradient(to bottom , rgb(138, 43, 226),rgb(149,93,104));
    box-shadow: 10px 10px 20px rgb(138, 43, 226) ;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.flashcard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    padding: 5vw;
    
}
.f-img{
    width: 10vw;
    height: 12vw;
    border-radius: 2vw;
    border-style: none;
}
.button{
    padding: 1vw;
    width:max-content;
    height:max-content;
    background-color:blueviolet;
    border-style: none;
    border-color: rgb(51, 34, 151);
    border-radius: 2vw;
    cursor: pointer;
    font-size: 2vw;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.button:hover{
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.button:active{
    transform: scale(1);
}
.f-head{
    text-align: center;
    font-size: 1vw;
}
.flash:hover{
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.contact{
    padding-top: 10vh;
    width: 100%;
    color: #fff;
    background-image:linear-gradient(to bottom,black,transparent),url(back0.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 5vw;
}
.c-body{
    text-align: center;
    padding-top: 1vw;
    font-size: 1.5vw;
}
.info{
    padding-top: 1vw;
    text-align: center;
    

}
.git-img{
    width: 3vw;
    height: 3vw;
}
.links{
    text-align: center;
}
.input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.msg{
    height: 30vh;
    width:40vw;
    resize: none;
    
}
html {
    scroll-behavior: smooth; 
}
.navbar {
   
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color:transparent; 
    padding: 10px 20px;
    position: relative;
    z-index: 10; 
}
.logo {
    color: #fff; 
    font-size: 24px;
}

.nav-links {
    list-style: none; 
    margin: 0;
    padding: 0;
    display: flex; 
    margin-left: auto; 
}

.nav-links li {
    margin-left: 20px; 
}

.nav-links a {
    text-decoration: none; 
    color: #fff; 
    padding: 8px 16px; 
    transition: background-color 0.3s; 
}

.nav-links a:hover {
    background-color: #555; 
    border-radius: 4px; 
}

.toggle-button {
    display: none; 
    background: none;
    border: none;
    color: #fff; 
    font-size: 24px; 
}

@media (max-width: 768px) {
    .nav-links {
        flex-direction: column; 
        display: none; 
        position: absolute;
        top: 60px; 
        background-color: #333; 
        width: 100%; 
    }

    .navbar.active .nav-links {
        display: flex; 
    }

    .toggle-button {
        display: block; 
    }
    
}
.main{position: absolute;
    top: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;}
.about-text{
    padding-top: 5vw;
    padding-bottom:3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8vw;
}
a{
    text-decoration: none;
    color: #fff;
    
}
@media (max-width: 600px){
    .b0,.b1,.b2,.b3,.b4,.b5{
        height: 70vh;
    }
    .main{
        top:70vh ;
    }
    .flashcard{
        flex-direction: column;
        gap: 10vw;
    }
    .p-head,.skill-head{
        font-size: 7vw;
    }
    .primary-head{
        font-size: 10vw;
    }
    .secondary-head{
        font-size: 4vw;
    }
    .f-head{
        font-size: 3vw;
    }
    .f-img{
        height:50vw ;
        width: 40vw;
    }
    .flash{
        padding-top: 2vw;
        padding-bottom: 2vw;
    }
    .button{
        font-size: 5vw;
    }
}